@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
    
  a {
    display: block;
    text-decoration: none;
    color:inherit;
    font-size:inherit;
  }
  p a {
    display: inline;
  }
  
  li {
    list-style-type: none;
  }
  
  h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
  }
  *{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  }
  form , input, textarea, select , button , label{
      font-family: inherit;
      font-size: inherit;
      hyphens: auto;
      background-color: transparent;
      color:inherit;
      display: block;
  }
  body{
    min-height  : 100vh;
    font-size   : 112.5%;
    font-family: 'Bai jamjuree';
    font-weight: 400;
  }
  
